# Project exclude paths
/auth/target/
/common/target/
/gateway/target/
/.idea/
/**/*.iml

# Project exclude paths
/commons/target/
/commons-api/target/
/**/target/
/api/auth-api/target/
/**/**/target/
